<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.elm.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.elm.entity.Comment">
        <id column="comment_id" property="commentId" jdbcType="INTEGER"/>
        <result column="article_id" property="articleId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/> <!-- 修改这里 -->
        <result column="comment_date" property="commentDate" jdbcType="TIMESTAMP"/>
        <result column="parent_comment_id" property="parentCommentId" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 获取某篇文章的所有评论 -->
    <select id="getCommentsByArticleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT *
        FROM comments
        WHERE article_id = #{articleId}
    </select>

    <!-- 获取某个用户的所有评论 -->
    <select id="getCommentsByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT *
        FROM comments
        WHERE user_id = #{userId}
    </select>

    <!-- 插入新评论 -->
    <insert id="createComment" parameterType="com.elm.entity.Comment">
        INSERT INTO comments (article_id, user_id, content, comment_date, parent_comment_id)
        VALUES (#{articleId}, #{userId}, #{content}, #{commentDate}, #{parentCommentId})
    </insert>


    <!-- 更新评论 -->
    <update id="updateComment" parameterType="com.elm.entity.Comment">
        UPDATE comments
        <set>
            <if test="articleId != null">article_id = #{articleId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="commentDate != null">comment_date = #{commentDate},</if>
            <if test="parentCommentId != null">parent_comment_id = #{parentCommentId},</if>
        </set>
        WHERE comment_id = #{commentId}
    </update>

    <!-- 通过ID选择评论 -->
    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT *
        FROM comments
        WHERE comment_id = #{id}
    </select>

</mapper>
