<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.elm.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.elm.entity.Comment">
        <id column="comment_id" property="commentId" jdbcType="BIGINT"/>
        <result column="article_id" property="articleId" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="comment_date" property="commentDate" jdbcType="TIMESTAMP"/>
        <result column="parent_comment_id" property="parentCommentId" jdbcType="BIGINT"/>
    </resultMap>

    <select id="getCommentsByArticleId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT * FROM comments WHERE article_id = #{articleId}
    </select>

    <select id="getCommentsByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT * FROM comments WHERE user_id = #{userId}
    </select>

    <select id="getCommentsByParentCommentId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT * FROM comments WHERE parent_comment_id = #{parentCommentId}
    </select>

    <insert id="createComment" parameterType="com.elm.entity.Comment" useGeneratedKeys="true" keyProperty="commentId">
        INSERT INTO comments (article_id, user_id, content, comment_date, parent_comment_id)
        VALUES (#{articleId}, #{userId}, #{content}, #{commentDate}, #{parentCommentId})
    </insert>

    <update id="updateComment" parameterType="com.elm.entity.Comment">
        UPDATE comments
        <set>
            <if test="articleId != null">article_id = #{articleId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="commentDate != null">comment_date = #{commentDate},</if>
            <if test="parentCommentId != null">parent_comment_id = #{parentCommentId},</if>
        </set>
        WHERE comment_id = #{commentId}
    </update>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT * FROM comments WHERE comment_id = #{id}
    </select>

    <delete id="deleteComment" parameterType="java.lang.Long">
        DELETE FROM comments WHERE comment_id = #{commentId}
    </delete>

    <select id="getCommentById" parameterType="java.lang.Long" resultType="com.elm.entity.Comment">
        SELECT * FROM comments WHERE comment_id = #{commentId}
    </select>
</mapper>
